@{
    ViewData["Title"] = "Admin Panel";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" id="btn-update-user" onclick="Back('/Admin/AllUser')">Show all user</button>
        </div>
    </div>
</div>