@model ErrorViewModel
@{
    ViewData["Title"] = "ERROR";
}
    <style>
        

        .error-container {
            max-width: 600px;
            margin: auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #dc3545;
        }

        p {
            color: #333;
        }
    </style>

    <div class="error-container">
        <h1>Error</h1>
        <p>An unexpected error has occurred.</p>
        <p>We apologize for the inconvenience.</p>
        <p>Error message: @Model.Message</p>
    </div>

