@model WorkShopDto
@{
    ViewData["Title"] = "Add";
}


<form asp-action="Add" asp-controller="WorkShop" method="post">
    <div class="mb-3">
        <label class="form-label text-white" asp-for="Title">Title</label>
        <input type="text" class="form-control" asp-for="Title">
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>   
    <div class="mb-3">
            <label asp-for="Description" class="form-label text-white">Description</label>
        <input type="text" asp-for="Description" class="form-control">
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<button onclick="Back('/WorkShop/GetAll')" class="btn btn-primary">Back</button>
