@model IEnumerable<User>
@{
    ViewData["Title"] = "Friends";
}

    @if (Model is null || !Model.Any())
    {
        <p class="text-white">You dont have friends</p>
    }

    else
    {
        <div class="d-inline-flex">
            @foreach (var item in Model)
            {                
                <div class="p-2">
                    <div class="card bg-dark border-4" style="width: 18rem;" onclick="GoToWithId('/User/ProfileById','@item.Id')" style="max-height: 200px;">
                        <img src="@item.AvatarUrl" class="card-img-top" alt="Game Image">
                        <div class="card-body">
                            <p class="card-text text-white">@item.UserName</p>
                        </div>
                    </div>
                <button class="btn btn-secondary" onclick="DeleteFriends('@item.Id')">Delete from friends</button>
                </div>
            
            }
        </div>       
    }
</div>