@model User
@{
    ViewData["Title"] = "Profile";
}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Id: @Model.Id</h5>
    <p class="card-text">Login: @Model.Login</p>
    <p class="card-text">Email: @Model.Email</p>
  </div>
</div>


<a asp-action="GetAll" asp-controller="Game" class="btn btn-primary">Back</a>