@{
    ViewData["Title"] = "Settings";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary btn-lg btn-block" id="btn-update-user" onclick="updateUserData()">Update User Data</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary btn-lg btn-block" id="btn-update-user" onclick="Back('/User/ChangeAvatar')">Update User Avatar</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-danger btn-lg btn-block" id="btn-log-out" onclick="logOut()">Log Out</button>
        </div>
    </div>
</div>