@{
    ViewData["Title"] = "Settings";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" id="btn-update-user" onclick="updateUserData()">Update User Data</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-danger" id="btn-log-out" onclick="logOut()">Log Out</button>
        </div>
    </div>
</div>