@{
    var id = 0;
}

<form class="row g-3" method="post" asp-controller="Forum" asp-action="Delete">
    <p>Write your id to delete</p>
    <div class="col-auto">
        <label asp-for="@id" class="visually-hidden">Id</label>
        <input type="text" class="form-control" asp-for="@id" name="id" placeholder="Id">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Confirm</button>
    </div>
</form>