@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>welcome to the steam online store. Here you can buy games and also have fun with friends, but first you need to <a asp-controller="User" asp-action="Registration">register</a></p>
</div>
